* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: url('crew/background-crew-desktop.jpg') no-repeat center/cover;
  color: white;
  min-height: 100vh;
}


.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  margin-top: 30px;
  margin-left: -30px;
}


.navbar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  right: 60%;           
  height: 1px;
  background: rgba(255,255,255,0.4);
  transform: translateY(-50%);
  z-index: 3;
}

.logo {
  position: relative;
  z-index: 2;
}



.logo img {
  width: 32px;
  height: auto;
  margin-right: 40px;
  flex-shrink: 0;   
}



nav {
  margin-left: auto;
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 25px 140px 25px 100px;
  background: rgba(20, 25, 40, 0.4);
  backdrop-filter: blur(12px);
}


nav li {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.7;
}

nav li {
  position: relative;
}


nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s ease;
}


nav li:hover::after,
nav li.active::after {
  width: 100%;
}

nav li a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

nav li span{
  color: white;
  font-weight: 700;
}

.crew {
  position: relative;
  height: 100vh;   /* full screen like design */
  display: flex;
  align-items: center;
  padding: 80px 40px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  min-height: calc(100vh - 100px);
}



.crew .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  z-index: 2;
}

/* Prevent jumping */
#bio {
  min-height: 120px;
  margin-bottom: 40px;
}

.crew h5 {
  margin-bottom: 60px;
  letter-spacing: 3px;
  font-family: 'Barlow Condensed';
}

#role {
  font-family: 'Bellefair';
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 10px;
}

#name {
  font-family: 'Bellefair';
  font-size: 50px;
  margin-bottom: 20px;
}



/* RIGHT IMAGE */
.crew .right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  right: 50px;
  bottom: 0;

}

#crew-img {
  height: 85vh; 
  max-height: 650px;   /* control size */
  object-fit: contain;
  display: block;
}

/* DOTS */
.dots {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}

.dots span {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dots span.active {
  opacity: 1;
}

.dots span:hover {
  opacity: 0.6;
}
