@font-face {
  font-family: 'Bellefair';
  src: local('☺'),
       url('https://fonts.gstatic.com/s/bellefair/v15/kJExBuYY6AAuhiXUxG1N.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}



.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  margin-top: 30px;
  margin-left: -30px;
}


.navbar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  right: 63%;           
  height: 1px;
  background: rgba(255,255,255,0.4);
  transform: translateY(-50%);
  z-index: 3;
}

.logo {
  position: relative;
  z-index: 2;
}



.logo img {
  width: 32px;
  height: auto;
  margin-right: 40px;
  flex-shrink: 0;   
}



nav {
  margin-left: auto;
  position: relative;
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 25px 140px 25px 100px;
  background: rgba(20, 25, 40, 0.4);
  backdrop-filter: blur(9px);
}


nav li {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.7;
}

nav li {
  position: relative;
}


nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s ease;
}


nav li:hover::after,
nav li.active::after {
  width: 100%;
}

nav li a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

nav li span{
  color: white;
  font-weight: 700;
}


.destination-page {
  background: url('destination/background-destination-desktop.jpg') no-repeat center/cover;
  color: white;
}


.destination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
}


.destination .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination .left img {
  width: 380px;   /* fixed size */
  height: auto;
}

.destination .left h5 {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 60px;
}



.destination .right {
  max-width: 450px;   /* 🔥 KEY FIX */
}

.tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.tabs span {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2px;
  opacity: 0.6;
  cursor: pointer;
  position: relative;
  transition: width 0.3s ease;

}

.tabs span {
  position: relative;
  cursor: pointer;
}

/* underline */
.tabs span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;

  width: 0;
  height: 2px;
  background: white;

  transition: width 0.3s ease;
}

/* hover effect */
/* .tabs span:hover::after {
  width: 100%;
} */

/* active state */
.tabs span.active::after {
  width: 100%;
}



.destination h1 {
  font-family: 'Times New Roman';
  font-size: 90px;
  margin-bottom: 20px;
}




.desc {
  min-height: 120px;  /* prevents jumping when content changes */
}


.divider {
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin-bottom: 30px;
}


.stats {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.stats p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
}

.stats h4 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}